body {
	background-image: url('../img/uncompressed/clear1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFF;
}

.bgOverlay {
	background-color: rgba(0,0,0,0.45);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -10;
	width: 100%;
	height: 100%;
}

header h1 {
	padding:0;
	line-height: 1em;
	font-weight: 700;
}

.geoStatus {
	padding: 0;
	line-height: 0;
	margin: 0;
	font-weight: 300;
}
.forecast {
	display: table;
	margin: 0 auto;
	padding: 3em;
}

.forecastDay {
	display: table-cell;
	width: 12.5%;
	padding: 1em 1em;
	font-weight: 700;
}

.forecastDay + .forecastDay {
	border-left: 1px dotted rgba(255,255,255,0.35);
}

.forecastDayCol {
	display: table-row;
	text-align: center;
}

.forecastDate {
	font-weight: 700;
}

.forecastIcon {
	fill: #FFFFFF;
	width: 100%;
	height: 100%;
	display:block;
}

.forecastSummary {
	font-weight: 300;
	font-size: .85em;
}